ede_categories.csv
ede_categories.mbd.h5
missingcat.csv
precitooldata
targetcolors.numbers
targetcolors.mbd.h5
targetcolors.mbd.json
testcolors.mbd.h5
testcolors.mbd.json
testcolors.numbers
.ipynb_checkpoints/embedding-checkpoint.ipynb
